body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.search-container {
  display: flex;
  padding-top: 22px;
}

.body-searchbar {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 20px;
  width: 367px;
  height: 58px;
  display: flex;
  align-items: center;
}

.body-searchbar input {
  border: none;
  outline: none;
  width: 100%;
}

.body-searchbar button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.body-searchbar button img {
  width: 20px;
  height: 20px;
}

.menu-bar {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #777;
  padding: 32px 132px;
  gap: 51.23px;
  border-bottom: 1px solid #eeeeee;
}

.menu-bar a {
  text-decoration: none;
  color: #777;
  transition: color 0.3s ease;
}

.menu-bar a:hover {
  color: #000;
}

.menu-bar span {
  margin: 0 5px;
  color: #777;
}

.overall-body {
  display: flex;
  padding-left: 167px;
  padding-top: 6px;
  gap: 200px;
}

.body-left-first-img img {
  width: 1072px;
  height: 483px;
}

.body-left-first-img-sub img {
  width: 21px;
  height: 21px;
  padding-top: 13px;
}

.body-left-first-img-sub .subtitles {
  display: flex;
  gap: 10px;
}

.body-left-first-img-sub {
  display: flex;
  gap: 100px;
  padding-top: 40px;
}

.body-left-first-paragraph h1 {
  font-size: 30px;
  font-weight: 700px;
  width: 900px;
  height: 35px;
}

.body-left-des {
  font-size: 16px;
  font-weight: 400px;
}

.body-left-first-paragraph a {
  font-size: 16px;
  font-weight: 400px;
  line-height: 23.38px;
  text-decoration: underline;
  color: #000;
}

.overall-body-right {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.overall-body-right-list {
  display: flex;
  flex-direction: column;
}

.body-right-list-title {
  font-size: 24px;
  font-weight: 500px;
  text-decoration: underline;
}

.body-right-list {
  display: grid;
  grid-template-columns: auto auto;
  gap: 42px;
  font-size: 16px;
  font-weight: 400px;
  line-height: 23.38px;
}

.article-cards {
  display: flex;
  gap: 16px;
}

.article-cards img {
  width: 106.67px;
  height: 80px;
}

.article-des p {
  font-weight: 400px;
  line-height: 20.45px;
  width: 158px;
  height: 40px;
  margin: 0px;
}

.article-date {
  font-size: 12px;
  font-weight: 400px;
  color: #9f9f9f;
}

.list-articles {
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.special-product-list-cards {
  display: flex;
  gap: 48px;
}
.special-products p {
  font-size: 24px;
  font-weight: 500px;
  line-height: 35.06px;
  text-decoration: underline;
}

.special-product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.special-product-card img {
  width: 169px;
  height: 116px;
}
.special-product-contact {
  display: flex;
  flex-direction: column;
  gap: 47px;
  align-items: center;
}

.special-product-contact button {
  width: 124px;
  height: 31px;
  border: 1px solid #eeeeee;
  color: black;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
  border-radius: 1px;
}

/* footer */
.pagination {
  display: inline-block;
  text-align: center;
  padding-left: 762px;
  padding-bottom: 100px;
  padding-top: 54px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 20px;
  border-radius: 10px;
}

.pagination a.active {
  background: #bbbbbb;
  color: black;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
