body {
  margin: 0;
  font-family: "Be Vietnam Pro";
}

* {
  font-size: 100%;
  font-family: "Be Vietnam Pro";
}

.nav {
  padding: 51px 148px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  color: #000000;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  width: 279px;
  height: 34px;
}

.search-bar button {
  font-size: 24px;
  color: #8e8e8e;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.search-icon {
  font-size: 24px;
  color: #8e8e8e;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.search-bar input {
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  outline: none;
  font-weight: 400px;
  line-height: 23.38px;
  background-color: #eeeeee;
  width: 160px;
  height: 19px;
}

.search-bar .search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.search-bar .search-button:hover {
  color: #555;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.heading {
  display: flex;
  padding-left: 306px;
  background: #d9d9d9;
  gap: 400px;
  align-items: center;
  height: 80px;
}

.heading-left {
  display: flex;
  gap: 40px;
  justify-content: center;
  justify-items: center;
}

.heading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-right {
  display: flex;
  gap: 35px;
}

.sort-container {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  max-width: 200px;
}

.sort-label {
  margin-right: 10px;
  font-size: 16px;
}

.sort-select {
  border: none;
  background-color: white;
  padding: 5px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

.sort-select:focus {
  outline: none;
}

.body {
  padding: 78px;
  display: flex;
  gap: 121px;
}

.body-container-left {
  display: flex;
  flex-direction: column;
  width: 321px;
  gap: 05px;
}

.heading-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-tab-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.arrowdown {
  width: 24px;
  height: 24px;
}

.plus {
  margin-top: 5px;
  padding-left: 60px;
  width: 24px;
  height: 24px;
}

.tab-tag {
  display: flex;
  padding-left: 50px;
  gap: 10px;
  align-items: center;
}

.rect {
  width: 12px;
  height: 12px;
}

hr.solid {
  border-top: 1px solid #333333;
  width: 312px;
  margin: 0px;
}

.container-right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 119px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card-img {
  width: 235px;
  height: 144px;
  padding-bottom: 33px;
}

.card-des p {
  text-align: center;
}

.card-des button {
  width: 173px;
  height: 39px;
  border: 1px solid #eeeeee;
  color: black;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
  border-radius: 1px;
}

.pagination {
  display: inline-block;
  text-align: center;
  padding-left: 762px;
  padding-bottom: 100px;
  padding-top: 54px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 20px;
  border-radius: 10px;
}

.pagination a.active {
  background: #bbbbbb;
  color: black;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.body-container-img {
  display: flex;
  gap: 119px;
  justify-content: center;
  padding-top: 92px;
}

.moreover {
  text-align: center;
  font-size: 20px;
  font-weight: 500px;
  line-height: 30px;
  text-decoration: underline;
  padding-top: 110px;
  padding-bottom: 277px;
}
